* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
}

section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

/*BOX DIARIO*/
.diario-head{
    width: 25%;
    background-color: #B8B8B8;
}
.diario-body {
    width: 25%;
    background-color: #F5F5F5;
    padding: 20px;
}
.diario-page {
    background-color: #EDEDED;
    width: 100%;
    height: 450px;
    margin-bottom: 20px;    
}

/*BOX SITIO*/
.content-head {
    width: 75%;
    background-color: #f00;
    padding-left: 20px;
}

.content-body {
    width: 75%;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: nowrap;
}
.content-body .flujo{   
    width: 100%;
    padding: 20px;
}
/*NOTA DESTACADA*/
.nota-destacada {
    margin-bottom: 25px;
}

.nota-destacada .media {
    background-color: #e5e5e5;
    margin-bottom: 15px;
    height: 250px;
}

.nota-destacada .text {
    background-color: #e5e5e5;
    margin-bottom: 10px;
    height: 10px;
}

.nota-destacada :last-child {
    width: 75%;
}
/*NOTA NORMAL*/
.nota-normal {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

.nota-normal .media{
    background-color: #e5e5e5;
    min-width: 280px;
    height: 170px
}

.nota-normal .text {
    width: 100%;
    padding-right: 20px;
}

.nota-normal .text > div {
    background-color: #e5e5e5;
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
}

.nota-normal .text :last-child {
    width: 65%;
}

/*SIDEBAR*/
.content-body .sidebar{
    /*padding: 20px;*/
    min-width: 340px;
    background-color: #f5f5f5;
}
.nota-sidebar {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    padding: 0 20px;
}
.nota-sidebar media{
    background-color: #d1d1d1;
    padding: 10px 10px 0 10px;
}
.nota-sidebar .media {
    background-color: #f1f1f1;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.nota-sidebar .text {
    background-color: #fff;
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
}
.nota-sidebar .text-2 {
    width: 75%;
}

.block {
    width: 100%;
    height: 50px;
    background-color: #ccc;
    margin-bottom: 20px;
}
.banner-branding {
    height: 560px;
}