* {margin: 0; padding: 0;}
html, body {height: 100%; font-family: 'Open Sans', sans-serif; background-color:#eaeaea;}

/*ALERTAS*/
.tabla_alertas{position:relative; z-index:2000; position:absolute; margin-top:50px;}
.fondo_alertas{width:100%; height:100%; position:fixed; z-index:2000; background-color:#000; opacity:0.8; top:0;}
@media (min-width:801px){
	.caja_alertas{width:40%; margin-left:28%; padding:2%;}
	.texto_item_form{width:150px;}
	.contenedor_campo_item_form{width:300px;}
}
@media (max-width:800px){
	.caja_alertas{width:74%; margin-left:4%; padding:8%;}
	.texto_item_form{width:100%;}
	.contenedor_campo_item_form{width:100%;}
}
.caja_alertas{
	height:auto; background-color:#f1f1f1; border-radius:10px; opacity:1; text-align:center; position:fixed;
	-webkit-animation-name: alertas;
    -webkit-animation-duration: 1s;
    animation-name: alertas;
    animation-duration: 1s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes alertas {0% {margin-top:-900px;}50%  {margin-top:50px;}}

/* Standard syntax */
@keyframes alertas {0% {margin-top:-900px;}50%  {margin-top:50px;}}

.titulo_alerta{width:100%; height:auto; color:#5e5e5e; font-size:32px; font-weight:700;}
.texto_caja_alerta{width:100%; height:auto; color:#5e5e5e; font-size:16px; text-align:center;}
.lista_botones_alerta{width:100%; height:auto; text-align:center; padding:0; margin:0; margin-top:20px;}
.boton_alerta a{color:#fff;}

@media (min-width:801px){
	.contenedor_item_form{width:100%; height:auto; margin-bottom:12px;}
	.texto_item_form{height:auto; display:inline-block; text-align:left; margin-top:3px; font-size:16px; vertical-align:top;}
	.contenedor_campo_item_form{height:auto; display:inline-block; text-align:left; }
	.campo_item_form{width:96%; padding:5px 2% 5px 2%;}
	.area_item_form{width:96%; min-height:100px; padding:5px 2% 5px 2%;}
	.boton_alerta{width:100%; padding:8px 0 8px 0; border-radius:5px; color:#fff; cursor:pointer; background-color:#f00;}
	.contenedor_titulo_form{width:100%; height:auto; font-size:18px; border-bottom:1px solid #ccc; margin-bottom:20px; padding-bottom:10px;}
	.btn_cerrar_form{width:20px; height:20px; float:right; background-color:#000; border:1px solid #000; border-radius:20px; color:#fff; font-size:14px; font-weight:700;}
	.img_gracias_form{width:100%; height:auto; text-align:center;}
	.gracias_form{width:100%; height:auto; font-size:14px; margin-top:15px;}
	#contacto{display:none;}
}
@media (max-width:800px){
	.contenedor_contacto_movil{width:98%; margin-left:1%; text-align:center; font-size:14px; padding-top:15px;}
	.contenedor_item_form{width:100%; height:auto; margin-bottom:12px;}
	.texto_item_form{height:auto; display:inline-block; text-align:left; margin-top:3px; vertical-align:top;}
	.contenedor_campo_item_form{height:auto; display:inline-block; text-align:left; }
	.campo_item_form{width:96%; padding:5px 2% 5px 2%;}
	.area_item_form{width:96%; min-height:100px; padding:5px 2% 5px 2%;}
	.boton_alerta{width:100%; padding:8px 0 8px 0; border-radius:5px; color:#fff; cursor:pointer; background-color:#f00;}
	.contenedor_titulo_form{width:100%; height:auto; font-size:18px; border-bottom:1px solid #ccc; margin-bottom:20px; padding-bottom:10px;}
	.btn_cerrar_form{width:20px; height:20px; float:right; background-color:#000; border:1px solid #000; border-radius:20px; color:#fff; font-size:14px; font-weight:700;}
	.img_gracias_form{width:100%; height:auto; text-align:center;}
	.gracias_form{width:100%; height:auto; font-size:14px; margin-top:15px;}
}	
.contenedor_total{min-width:100%; height:100%; float:left;}
.fila_contenido{width:100%; height:auto; float:left; margin-bottom:10px;}
.contenido{min-width:320px; max-width:1200px; margin:0 auto 0 auto;}
.contenido_portada{min-width:320px; max-width:1200px; margin:0 auto 0 auto;}
@media (min-width:801px){
	.contenido_portada{padding-top:85px;}
	.izq_portada{width:35%; height:auto; float:left;}
	.der_portada{width:61%; height:auto; float:right; font-size:16px; line-height:26px;}
}
@media (max-width:800px){
	.contenido_portada{margin:0 1% 0 1%; width:98%;}
	.izq_portada{width:98%; height:auto; margin:20px 1% 0 1%;}
	.der_portada{width:98%; height:auto; margin:20px 1% 0 1%; font-size:16px; line-height:30px;}
}
.item_lista_logos_home{width:100px; height:auto; display:inline-block;}

.contenedor_header_desktop{width:100%; height:auto; float:left; background-color:#f00; box-shadow: 0 7px 7px -4px #666; margin-bottom:20px; position:fixed; z-index:1000;}
.contenedor_header_movil{width:100%; height:auto; float:left; background-color:#f00; box-shadow: 0 7px 7px -4px #666; z-index:1000;}
@media (min-width:801px){
	.contenedor_header_movil{display:none;}
}
@media (max-width:800px){
	.contenedor_header_desktop{display:none;}
}
.contenido_header{min-width:300px; max-width:1190px; margin:0 auto 0 auto; background-color:#f00; padding:5px 10px 4px 10px;}
.boton_tarifario{width:140px; height:auto; float:right; text-align:right; font-size:16px; font-weight:bold; color:#fff; line-height:19px;}
.boton_tarifario a{color:#fff; text-decoration:none;}
.icono_tarifario{width:40px; height:auto; float:left;}
.link_tarifario{width:100px; height:auto; float:right; }

.contenedor_botones_header_desktop{width:80%; height:auto; float:right; }
.boton_header_desktop{width:auto; height:auto; float:right;color:#fff; font-size:14px; margin:10px 3px 6px 3px; font-weight:bold;}
.boton_header_desktop a{color:#fff; text-decoration:none;}

.icono_menu_movil{width:45px; height:45px; float:right; cursor:pointer;}
.contenedor_menu_movil{width:100%; height:auto; float:left; background-color:#c30000; display:none; padding-bottom:10px;}
.boton_interior_menu_movil{width:90%; height:auto; float:left; padding:5px 0 5px 0; margin:0 5% 0 5%; border-bottom:1px solid #fff; text-align:center; font-size:14px; color:#fff;}
.boton_interior_menu_movil a{color:#fff; text-decoration:none;}
@media (min-width:801px){
	.margen_formatos{padding-top:90px;}
}
@media (max-width:800px){
	.margen_formatos{margin-top:20px;}
}

.contenedor_footer{width:100%; height:35px; float:left; position:relative; margin-top:-50px; background-color:#333; padding:15px 0 0 0;}
.contenido_footer{min-width:300px; max-width:1200px; margin:0 auto 0 auto; font-size:12px; color:#fff; text-align:center;}

.contenedor_contacto{width:45%; height:auto; float:left; font-size:16px;}
.contenedor_volver{width:45%; height:auto; float:right; text-align:right; font-size:16px;}
.contenedor_volver a{color:#000; text-decoration:none;}

.contenedor_elemento{width:100%; height:auto; border-bottom:1px solid #ccc; padding:10px 0 10px 0;}
.titulo_elemento{width:100%; height:auto; font-size:14px; font-weight:bold; color:#000;}
.contenedor_info_elemento{width:100%; height:auto; font-size:12px;}

@media (min-width:801px){
	.info_elemento{width:auto; height:auto; display:inline;}
	.ver_demo_elemento{width:auto; height:auto; display:inline;}
	.pipe_elemento{width:auto; height:auto; display:inline; font-size:13px; font-weight:bold; color:#f00;}
}
@media (max-width:800px){
	.info_elemento{width:100%; height:auto;}
	.pipe_elemento{display:none;}
	.ver_demo_elemento{width:120px; height:auto; padding:5px; background-color:#81b5df; border-radius:4px; text-align:center; margin-top:3px;}
	.ver_demo_elemento a{color:#fff; text-decoration:none; font-weight:bold;}
}

/* Tabs container */
.r-tabs {
	position: relative;background-color: #ff0000;border-top: 1px solid #ff0000;border-right: 1px solid #ff0000;border-left: 1px solid #ff0000;border-bottom: 1px solid #ff0000;border-radius: 4px;
}
/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {position: relative;background-color: #ff0000;
}
/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;padding: 10px 12px;text-decoration: none;text-shadow: 0 1px rgba(0, 0, 0, 0.4);font-size: 12px;font-weight: bold;color: #fff;
}
/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}
/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #000;text-shadow: none;background-color: white;border-top-right-radius: 4px;border-top-left-radius: 4px;
}
/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;border-bottom: 4px solid white;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;
}
/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {	display: block;padding: 10px;background-color: #ff0000;color: #fff;font-weight: bold;text-decoration: none;text-shadow: 0 1px rgba(0, 0, 0, 0.4);font-size: 14px;border-top-right-radius: 4px;border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {	background-color: #fff;color: #ff0000;text-shadow: none;
}
/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.contenedor_img_demo{max-width:1187px; height:auto; margin:0 auto 0 auto; text-align:center;}

@media (min-width:801px){
	#menu{width:100%; height:auto; float:left; border:1px solid #000; background-color:#fff; padding-bottom:5px;}
	.encabezado_menu_layout{width:210px; height:auto; background-color:red; padding:5px 0 5px 10px; font-size:14px; font-weight:bold; color:#fff;}
	.contenedor_menu_layout{width:25%; height:auto; float:left; border:1px solid #000; background-color:#fff;}
	.img_layout{width:70%; height:13597px; float:right; background-image:url(../images/layout_soychile_.jpg); background-size:100% auto; background-repeat:no-repeat;}
	.lista_menu_layout{width:100%;}
	.item_lista_menu_layout{list-style:none; width:92%; padding:5px 0 5px 0; margin:0 4% 0 4%; border-bottom:1px solid #ccc; font-size:14px;}
	.item_lista_menu_layout a{color:#000; text-decoration:none;}
	.img_layout_movil{width:320px; height:11146px; float:left; margin-left:20px;background-image:url(../images/layout_soychile_movil.jpg); background-size:100% auto; background-repeat:no-repeat;}
	.contenedor_img_layout_movil{width:70%; height:auto; float:right;}
}
@media (max-width:800px){
	#menu{width:99%; height:auto; border:1px solid #000; background-color:#fff; margin:0 auto 0 auto; padding-bottom:5px;}
	.encabezado_menu_layout{width:97%; height:auto; background-color:red; padding:5px 0 5px 3%; font-size:14px; font-weight:bold; color:#fff;}
	.contenedor_menu_layout{width:99%; height:auto; border:1px solid #000; background-color:#fff; margin:0 auto 10px auto;}
	.img_layout{width:99%; height:13597px; background-image:url(../images/layout_soychile_.jpg); margin:0 auto 0 auto; background-size:100% auto; background-repeat:no-repeat; margin-top:10%;}
	.lista_menu_layout{width:100%;}
	.item_lista_menu_layout{list-style:none; width:92%; padding:5px 0 5px 0; margin:0 4% 0 4%; border-bottom:1px solid #ccc; font-size:14px;}
	.item_lista_menu_layout a{color:#000; text-decoration:none;}
	.img_layout_movil{width:320px; height:11146px; margin:10px auto 10px auto; background-image:url(../images/layout_soychile_movil.jpg); background-size:100% auto; background-repeat:no-repeat;}
}

.punto_layout{width:100%; height:10px; /*background-color:#0f0; opacity:0.5;*/}

@media (min-width:801px){
	#head{margin-top:0%; padding-top:16%;}
	#branding1{margin-top:0%; padding-top:16%;}
	#content1{margin-top:53%; padding-top:26%;}
	#box1{margin-top:53%; padding-top:26%;}
	#derecha1{margin-top:14%; padding-top:35%;}
	#central1{margin-top:-9%; padding-top:15%;}
	#box2{margin-top:110%; padding-top:45%;}
	#derecha2{margin-top:28%; padding-top:35%;}
	#content2{margin-top:-9%; padding-top:15%;}
	#branding2{margin-top:80%; padding-top:35%;}
	#central2{margin-top:-14%; padding-top:20%;}
	#content3{margin-top:63%; padding-top:35%;}
	#central3{margin-top:132%; padding-top:35%;}
	#content4{margin-top:114%; padding-top:35%;}
	#central4{margin-top:128%; padding-top:35%;}

}
@media (max-width:800px) and (orientation: portrait){
	#head{margin-top:0%; padding-top:16%;}
	#branding1{margin-top:1%; padding-top:16%;}
	#content1{margin-top:60%; padding-top:26%;}
	#box1{margin-top:59%; padding-top:20%;}
	#derecha1{margin-top:19%; padding-top:16%;}
	#central1{margin-top:-3%; padding-top:25%;}
	#box2{margin-top:103%; padding-top:45%;}
	#derecha2{margin-top:23%; padding-top:17%;}
	#content2{margin-top:2%; padding-top:15%;}
	#branding2{margin-top:58%; padding-top:40%;}
	#central2{margin-top:-5%; padding-top:20%;}
	#content3{margin-top:38%; padding-top:55%;}
	#central3{margin-top:128%; padding-top:45%;}
	#content4{margin-top:105%; padding-top:45%;}
	#central4{margin-top:110%; padding-top:45%;}
}
@media (max-width:800px) and (orientation: landscape){
	#head{margin-top:0%; padding-top:16%;}
	#branding1{margin-top:1%; padding-top:16%;}
	#content1{margin-top:78%; padding-top:16%;}
	#box1{margin-top:65%; padding-top:16%;}
	#derecha1{margin-top:28%; padding-top:16%;}
	#central1{margin-top:-3%; padding-top:16%;}
	#box2{margin-top:119%; padding-top:16%;}
	#derecha2{margin-top:55%; padding-top:16%;}
	#content2{margin-top:-8%; padding-top:16%;}
	#branding2{margin-top:88%; padding-top:16%;}
	#central2{margin-top:3%; padding-top:16%;}
	#content3{margin-top:78%; padding-top:16%;}
	#central3{margin-top:155%; padding-top:16%;}
	#content4{margin-top:135%; padding-top:16%;}
	#central4{margin-top:144%; padding-top:16%;}
}
#content_movil{margin-top:500%;}


@media (min-width:801px){
	.container_scroll {position: relative;width:220px;float:left;}
	.columna_scroll{margin:0;padding:0;position: relative;width:220px;}
	.sticky.fixed {position: fixed;z-index: 0;width: 220px;}
	.sticky.absolute {position: absolute;width: 220px;}
	.sticky_listados.fixed {position: fixed;z-index: 0;width: 180px;}
	.sticky_listados.absolute {position: absolute;width: 180px;}
}


.item_lista_logos{height:auto; list-style:none; display:inline-block;}

@media(max-width:550px){
	.item_lista_logos{width:30%;}
}

@media (min-width:551px) and (max-width:800px){
	.item_lista_logos{width:18%;}
}

@media (min-width:801px){
	.item_lista_logos{width:13%;}
}

.boton_rotar{width:140px; height:34px; border:none; background:none; background-image:url(../images/rotar.png);}