@charset "utf-8";
/* CSS Document */

/*ALERTAS*/
.tabla_alertas{
	position:relative; z-index:2000; position:absolute; margin-top:50px;
}
.fondo_alertas{
	width:100%; height:100%; position:fixed; z-index:2000; background-color:#000; opacity:0.8; top:0;
}
.caja_alertas{
	width:600px; height:auto; margin-left:auto; margin-right:auto; background-color:#f1f1f1; border-radius:10px; opacity:1; text-align:center; padding:20px; 
	-webkit-animation-name: alertas; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: alertas;
    animation-duration: 1s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes alertas {
    0%   {margin-top:-900px;}
    50%  {margin-top:50px;}
}

/* Standard syntax */
@keyframes alertas {
    0%   {margin-top:-900px;}
    50%  {margin-top:50px;}
}

.titulo_alerta{
	width:100%; height:auto; color:#5e5e5e; font-size:32px; font-weight:700;
}
.texto_caja_alerta{
	width:100%; height:auto; color:#5e5e5e; font-size:16px; text-align:center;
}
.lista_botones_alerta{
	width:100%; height:auto; text-align:center; padding:0; margin:0; margin-top:20px;
}

.boton_alerta a{
	color:#fff;
}



/*ESTRUCTURA*/
.contenedor_header{
	width:100%; height:51; float:left; background-color:#fff; box-shadow: 0 7px 7px -4px #666; position:absolute; top:0;
}
.contenido_header{
	width:1058px; margin-left:auto; margin-right:auto; 
}
.logo_header{
	width:250px; height:41px; margin:auto; padding:5px 0 5px 0;
}
.logo_autolocal_header{
	width:150px; height:30px; float:right; text-align:right; margin-top:9px;
}
.logo_soychile_header{
	width:127px; height:30px; float:right; text-align:right; margin-right:20px; margin-top:9px;
}
.contenedor_contenido{
	width:100%; height:auto; float:left; margin-top:50px;	
}
.contenedor_contenido_int{
	width:100%; height:567px; float:left; margin-top:50px;	
}
.contenido{
	width:1058px; height:auto; margin-left:auto; margin-right:auto;
}
.contenido_soychile{
	width:1003px; height:auto; margin-left:auto; margin-right:auto;
}
.contenido_autolocal{
	width:1058px; height:auto; margin-left:auto; margin-right:auto;
}
.titulo{
	width:100%; height:auto; float:left; font-size:24px; margin-bottom:25px; text-align:center;
}
.contenido_ficha{
	width:96%; height:auto; float:left; margin:15px 2% 15px 2%; font-size:13px;
}
.titulo_ficha{
	width:100%; height:auto; float:left; font-size:15px; font-weight:700; margin-bottom:5px; color:#38519a;
}
.item_ficha{
	width:100%; height:auto; float:left; border-bottom:1px solid #ccc; padding:10px 0 10px 0;
}
.especificaciones{
	width:100%; height:auto; float:left;
}
.titulo_especificaciones{
	width:100%; height:auto; float:left; margin-bottom:3px; font-size:13px; font-weight:700;
}
.pipe_ficha{
	font-weight:700; color:#81b5df;	
}
.condiciones{
	width:100%; height:auto; float:left; font-style:italic; color:#666;
}
.demo{
	width:100%; height:auto; float:left; font-size:12px;
}
.contenedor_banner_soychile{
	width:1003px; height:auto; margin-left:auto; margin-right:auto; position:relative; z-index:1000;
}
.contenedor_banner_autolocal{
	width:1058px; height:auto; margin-left:auto; margin-right:auto; position:relative; z-index:1000;
}
.contenedor_banner_m{
	margin-left:auto; margin-right:auto; position:relative; z-index:1000;
}
.contenedor_banner_h{
	margin-left:auto; margin-right:auto; position:relative; z-index:1000;
}
.contenedor_celular_h{
	width:734px; height:383px; margin-left:auto; margin-right:auto; background-image:url(../img/celular_h.png); background-repeat:no-repeat;
}
.contenedor_celular_v{
	width:363px; height:754px; margin-left:auto; margin-right:auto; background-image:url(../img/celular_v.png); background-repeat:no-repeat;
}
.contenedor_img_celular_h{
	width:587px; height:363px; margin-left:auto; margin-right:auto; position:absolute; top:170px; margin-left:62px; z-index:10;
}
.contenedor_img_celular_v{
	width:330px; height:587px; margin-left:auto; margin-right:auto; position:absolute; top:216px; z-index:10; margin-left:17px;
}
#cambiarVista{
	width:100%; height:34px; margin-top:30px; margin-bottom:10px; text-align:center;
}
.btn_rotar{
	width:140px; height:34px; border:none; background:none; background-image:url(../img/rotar.png); cursor:pointer; margin-top:60px;
}
.btn_contacto{
	width:auto; height:auto; float:left; margin-bottom:20px;
}
.btn_2{
	width:auto; height:auto; float:right; margin-bottom:20px;
}
.btn_2 a{
	text-decoration:none; color:#000;
}
.contenedor_banner_expandible{
	width:910px; height:auto; margin-left:45px; margin-top:17px;
}
.banner_expandible{
	width:910px; height:90px; background-image:url(../img/demo_910x90_expandible.jpg);
}
.contenedor_banner_expandible:hover .banner_expandible{
	height:250px; background-image:url(../img/demo_910x90_expandible_2.jpg);
}
.pieza_big_banner{
	width:314px; height:203px; float:left;
}
.contenedor_item_form{
	width:100%; height:auto; margin-bottom:12px;
}
.texto_item_form{
	width:150px; height:auto; display:inline-block; text-align:left; margin-top:3px; font-size:16px; vertical-align:top;
}
.contenedor_campo_item_form{
	width:300px; height:auto; display:inline-block; text-align:left; 
}
.campo_item_form{
	width:96%; padding:5px 2% 5px 2%;
}
.area_item_form{
	width:96%; min-height:100px; padding:5px 2% 5px 2%;
}
.boton_alerta{
	width:100%; padding:8px 0 8px 0; border-radius:5px; color:#fff; cursor:pointer; background-color:#81b5df;
}
.contenedor_titulo_form{
	width:100%; height:auto; font-size:18px; border-bottom:1px solid #ccc; margin-bottom:20px; padding-bottom:10px;
}
.btn_cerrar_form{
	width:20px; height:20px; float:right; background-color:#000; border:1px solid #000; border-radius:20px; color:#fff; font-size:14px; font-weight:700;
}
.img_gracias_form{
	width:100%; height:auto; text-align:center;
}
.gracias_form{
	width:100%; height:auto; font-size:16px; margin-top:15px;
}
.ul_ficha{
	width:100%; height:auto; padding:50px 0 50px 0; margin:0; text-align:center;
}
.ul_ficha_autolocal{
	width:100%; height:auto; padding:50px 0 20px 0; margin:0; text-align:center;
}
.item_ul_ficha{
	width:180px; height:auto; list-style:none; border:1px solid #ccc; display:inline-block; margin-left:10px; margin:right:10px;
}
.texto_item_ul_ficha{
	width:100%; height:auto; float:left; font-size:14px;
}
.texto_item_ul_ficha a{
	text-decoration:none; color:#000;
}

/******************/
/* CONTROL SCROLL */
/******************/
.container_scroll {
	position: relative;
	width:200px;
	float:left;
}

.columna_scroll{
	margin:0;
	padding:0;
	position: relative;
	width:200px;
}

.sticky.fixed {
	position: fixed;
	z-index: 0;
	width: 200px;
}
.sticky.absolute {
	position: absolute;
	width: 200px;
}

.sticky_listados.fixed {
	position: fixed;
	z-index: 0;
	width: 160px;
}
.sticky_listados.absolute {
	position: absolute;
	width: 160px;
}
/************************/
/* FIN - CONTROL SCROLL */
/************************/


.contenedor_layout{
	width:100%; height:auto; float:left;
}
.contenedor_img_layout{
	width:800px; height:6970px; float:right; background-image:url(../img/layout_soychile.jpg);
}
.contenedor_img_layout_autolocal{
	width:800px; float:right;
}
.contenedor_div_layout_mobile{
	width:800px; height:auto; float:right;
}
.contenedor_img_layout_mobile{
	width:320px; height:10877px; background-image:url(../img/layout_soychile_movil.jpg);
}
.contenedor_img_layout_mobile_autolocal{
	width:320px;
}
#fin{
	width:100%; height:300px; float:left;
}
#menu{
	width:200px; height:auto;
}
.contenido_menu{
	width:178px; height:auto; float:left; background-color:#fff; border:1px solid #666; padding:10px;
}
.titulo_menu{
	width:100%; height:auto; float:left; border-bottom:1px solid #ccc; font-size:14px; padding-bottom:3px; color:#38519a; font-weight:700;
}
.links_menu{
	width:100%; height:auto; float:left; font-size:12px; padding-top:8px;
}
.item_links_menu{
	width:100%; height:auto; float:left; margin-bottom:10px;
}
.bull_menu{
	color:#81b5df;
}
.item_links_menu a{
	text-decoration:none; color:#000;
}
.item_links_menu a:hover{
	text-decoration:underline; color:#000;
}


/********BANNERS*********/
#cont_728x90_head{
	width:800px; height:auto; float:left; padding-top:47px;
}
.b_728x90_head{
	width:491px; height:61px;  float:left; margin-left:154px;
}
#cont_300x250_superior{
	width:800px; height:auto; float:left; padding-top:47px;
}
.b_300x250_superior{
	width:203px; height:169px;  float:left; margin-left:585px; margin-top:53px;
}
#cont_300x100_derecha_1{
	width:800px; height:auto; float:left; padding-top:98px;
}
.b_300x100_derecha_1{
	width:203px; height:67px;  float:left; margin-left:585px;
}
#cont_650x90_central{
	width:800px; height:auto; float:left; padding-top:341px; margin-top:204px;
}
.b_650x90_central{
	width:440px; height:61px;  float:left; margin-left:63px;
}
#cont_300x250_medio_1{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:739px;
}
.b_300x250_medio_1{
	width:203px; height:169px;  float:left; margin-left:585px;
}
#cont_650x90_medio{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:423px;
}
.b_650x90_medio{
	width:440px; height:61px;  float:left; margin-left:63px;
}
#cont_300x100_derecha_2{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:633px;
}
.b_300x100_derecha_2{
	width:203px; height:67px;  float:left; margin-left:585px;
}
#cont_300x250_medio_2{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:204px;
}
.b_300x250_medio_2{
	width:203px; height:169px;  float:left; margin-left:585px;
}
#cont_300x100_derecha_3{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:12px;
}
.b_300x100_derecha_3{
	width:203px; height:67px;  float:left; margin-left:585px;
}
#cont_650x90_inferior{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:413px;
}
.b_650x90_inferior{
	width:440px; height:61px;  float:left; margin-left:63px;
}
#cont_300x250_inferior_1{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:306px;
}
.b_300x250_inferior_1{
	width:203px; height:169px;  float:left; margin-left:585px;
}
#cont_300x100_derecha_4{
	width:800px; height:auto; float:left; padding-top:170px;
}
.b_300x100_derecha_4{
	width:203px; height:67px;  float:left; margin-left:585px;
}
#cont_300x250_inferior_2{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:199px;
}
.b_300x250_inferior_2{
	width:203px; height:169px;  float:left; margin-left:585px;
}
#cont_320x100_movil{
	width:320px; height:auto; float:left; margin-top:94px; padding-top:20px; margin-left:25px;
}
.b_320x100_movil{
	width:270px; height:85px;  float:left;
}
#cont_320x100_movil_2{
	width:320px; height:auto; float:left; margin-top:1713px; padding-top:20px; margin-left:25px;
}
#cont_320x100_movil_3{
	width:320px; height:auto; float:left; margin-top:1513px; padding-top:20px; margin-left:25px;
}
#cont_300x250_movil{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:1275px;
}
.b_300x250_movil{
	width:203px; height:169px;  float:left; margin-left:57px;
}
#cont_300x250_movil_2{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:1320px;
}
#cont_300x250_movil_3{
	width:800px; height:auto; float:left; padding-top:200px; margin-top:2365px;
}
#cont_300x50_movil{
	width:254px; height:auto; float:left; padding-top:10px;
}
.b_300x50_movil{
	width:254px; height:44px;  float:left;
}
#cont_728x90_head_autolocal_home{
	width:800px; height:auto; float:left; padding-top:58px;
}
.b_728x90_head_autolocal_home{
	width:491px; height:61px;  float:left; margin-left:37px;
}
#cont_300x250_superior_autolocal_home{
	width:800px; height:auto; float:left; padding-top:10px; margin-top:1px;
}
.b_300x250_superior_autolocal_home{
	width:203px; height:169px;  float:left; margin-left:591px;
}
#cont_620x100_autolocal_home{
	width:558px; height:auto; float:left; padding-top:10px; margin-top:3px;
}
.b_620x100_autolocal_home{
	width:418px; height:68px;  float:left; margin-left:73px;
}
#cont_300x100_autolocal_home_1{
	width:242px; height:auto; float:left; padding-top:10px; margin-top:3px;
}
.b_300x100_autolocal_home_1{
	width:203px; height:68px;  float:left; margin-left:33px;
}
#cont_300x250_medio_autolocal_home{
	width:800px; height:auto; float:left; padding-top:10px; margin-top:23px;
}
.b_300x250_medio_autolocal_home{
	width:203px; height:169px;  float:left; margin-left:591px;
}
#cont_300x100_autolocal_home_2{
	width:800px; height:auto; float:left; padding-top:10px; margin-top:9px;
}
.b_300x100_autolocal_home_2{
	width:203px; height:68px;  float:left; margin-left:591px;
}
#cont_300x100_autolocal_home_3{
	width:800px; height:auto; float:left; padding-top:10px; margin-top:330px;
}
.b_300x100_autolocal_home_3{
	width:203px; height:68px;  float:left; margin-left:591px;
}
#cont_300x100_autolocal_home_4{
	width:800px; height:auto; float:left; padding-top:10px; margin-top:3px;
}
.b_300x100_autolocal_home_4{
	width:203px; height:68px;  float:left; margin-left:591px;
}
#cont_728x90_inferior_autolocal_home{
	width:800px; height:auto; float:left; padding-top:10px; margin-top:130px;
}
.b_728x90_inferior_autolocal_home{
	width:491px; height:61px;  float:left; margin-left:147px;
}
#cont_728x90_head_autolocal_listados{
	width:800px; height:auto; float:left; padding-top:58px;
}
.b_728x90_head_autolocal_listados{
	width:491px; height:61px;  float:left; margin-left:154px;
}
#cont_160x600_autolocal_listados{
	width:800px; height:auto; float:left; padding-top:60px;  margin-top:6px;
}
.b_160x600_autolocal_listados{
	width:109px; height:404px;  float:left; margin-left:685px;
}
#cont_728x90_inferior_autolocal_listados{
	width:800px; height:auto; float:left; padding-top:60px; margin-top:3072px;
}
.b_728x90_inferior_autolocal_listados{
	width:491px; height:61px;  float:left; margin-left:164px; 
}
#cont_728x90_head_autolocal_ficha{
	width:800px; height:auto; float:left; padding-top:58px;
}
.b_728x90_head_autolocal_ficha{
	width:491px; height:61px;  float:left; margin-left:154px;
}
#cont_300x250_autolocal_ficha{
	width:800px; height:auto; float:left; padding-top:60px; margin-top:227px;
}
.b_300x250_autolocal_ficha{
	width:203px; height:169px;  float:left; margin-left:553px; 
}
#cont_728x90_inferior_autolocal_ficha{
	width:800px; height:auto; float:left; padding-top:60px; margin-top:650px;
}
.b_728x90_inferior_autolocal_ficha{
	width:491px; height:61px;  float:left; margin-left:164px; 
}
/***********************/